/*-- scss:defaults --*/
  // Base document colors
$body-bg: #292b2c;
  $body-color: #f6f6f6;
$link-color: #C00A35;
$sidebar-bg: #FFCD00;
  
  // Code blocks
$code-block-bg-alpha: -.8;

.exercise {
  margin: 1em 0;
  border: 2px solid gray;
  border-left: 10px solid teal; 
  border-radius: 10px;
}

.exercise-header {
  margin-left: 0em;
  padding-left:  60px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: black;
  background-color: rgb(123, 173, 173);
  border-top-right-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-image: "img/icons8-test-100.png";
}

.exercise-container {
  padding-top: 5px;
  padding-left: 10px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}